
.container {
    display: flex;
    padding: 35px 55px;
}

.logo img {
    width: 139.56px;
    height: 44.36px;
    
}

 .logotip img {
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}
 
a button:hover {
    animation: gradient 3s ease-in-out infinite;

} 


.logotip {
    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes gradient {
    0% {
        background-color: rgba(9, 228, 228, 0.372);
    }
    25% {
        background-color: rgba(255, 0, 149, 0.42);
    }
    50% {
        background-color: rgba(255, 166, 0, 0.395);
    }
    75% {
        background-color: rgba(0, 255, 127, 0.372);
    }
    100% {
        background-color: rgba(9, 228, 228, 0.495);
    }
}