html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: black;
  }

  @media (max-width: 1707px) and (min-width: 728px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
        top: 180px;
        left: 300px;
    }

    a {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .form_container {
        width: 350px;
        height: 150px;
        top: 350px;
        left: 500px;
        margin-top: 20px;
    }

    .form_buttons img {
        width: 85px;
        height: 80px;
        margin-right: 10px;
    }

    .container {
        padding: 20px 40px;
    }

    .logo img {
        width: 120px;
        height: 38px;
    }
}