.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    color: rgba(30, 215, 96, 1);
    top: 211px;
    left: 368px;
    text-align: center;
    justify-content: center;
    font-family: Rubik;
    font-weight: 700;
    line-height: 75.84px;
}

h1:hover{
    text-decoration: underline rgba(17, 129, 241, 1);;
    
}
a {
    font-size: 32px;
    font-weight: 700;
    top: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgba(30, 215, 96, 1);
    margin-bottom: 20px;
    text-decoration: none;
  
    
}
a:hover{
    text-decoration: underline rgba(17, 129, 241, 1);;
    
}


.form_container {
display: flex;
align-items: center;
justify-content: center;
border: 3px solid green; 
border-radius: 65px;
width: 446px;
height: 175px;
top: 426px;
left: 631px;
margin-top: 31px;

}
.form_container:hover{
background-color:rgba(17, 129, 241, 1) ;
}

.form_buttons{
align-items: center;
cursor: pointer;
 transition: transform 0.3s;
 border-radius: 30px;
 border: none;

}

.form_buttons img {
    width: 105px;
    height: 98px;
    margin-right: 14px;
    
} 

button {
  background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px ;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

/* Стили при наведении на кнопку */
button:hover {
    background-color:rgba(17, 129, 241, 1);
    transform: scale(1.1);
    box-shadow: 
    rgba(65, 115, 166, 0.15);
}
button:active{
    transform:  translateY(-5px);
}